html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .05em;
}

h3 {
    text-transform: uppercase;
    color: $grey;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: $blue;
    font-weight: 300;
}

ul {
    padding: 0;
    list-style-type: none;
}
