.content-box {
    padding: 60px 0;

    .content-title {
        h3 {
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            margin: 0 0 30px;
        }

        &-underline {
            width: 30px;
            height: 3px;
            margin: 0 auto 30px;
            background: $turquoise;
        }

        &-white {
            color: $white;
        }
    }
}

.bg-parallax {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
