@define-mixin smallScreen {
    @media (max-width: 767px) {
        @mixin-content;
    }
}

@define-mixin mediumScreen {
    @media (min-width: 768px) and (max-width: 991px) {
        @mixin-content;
    }
}

@define-mixin largeScreen {
    @media (min-width: 992px) and (max-width: 1199px) {
        @mixin-content;
    }
}

@define-mixin extraLargeScreen {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}
