#about {
    .content-box {
        float: left;
        height: 700px;

        @mixin mediumScreen {
            height: 350px;
        }

        @mixin smallScreen {
            height: 350px;
        }


        &-outer {
            display: table;
            width: 100%;
            height: 100%;
        }

        &-inner {
            display: table-cell;
            vertical-align: middle;
        }

        .about-desc {
            margin-bottom: 30px;
        }

        .about-btn {
            text-align: center;
        }
    }

    .about-bg-diagonal {
        width: 60%;
        float: right;
        height: 700px;
        background-image: url("assets/images/bg-about.jpg");
        border-left: solid 200px $white;
        border-top: solid 700px transparent;

        @mixin mediumScreen {
            border-left: 0;
            border-top: 0;
            width: 100%;
            height: 350px;
        }

        @mixin smallScreen {
            border-left: 0;
            border-top: 0;
            width: 100%;
            height: 350px;
        }
    }
}
