.btn {
    &-general {
        border: solid 2px $white;
        border-radius: 0;
        padding: 12px 26px;
        text-transform: uppercase;
        font-size: 16px;

        @mixin mediumScreen {
            padding: 10px 24px;
            font-size: 15px;
        }
        @mixin smallScreen {
            padding: 10px 24px;
            font-size: 15px;
        }
    }

    &-white {
        border-color: $white;
        color: $white;

        &:hover,
        &:focus {
            background: $white;
            color: $grey;
        }
    }

    &-blue {
        border-color: $turquoise;
        color: $turquoise;

        &:hover,
        &:focus {
            background: $turquoise;
            color: $white;
        }
    }
}
