footer {
    background-color: $grey;
    padding-top: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;

    .contact {
        &-left {
            h3 {
                font-size: 26px;
                color: $white;
                font-weight: 700;
            }

            p {
                color: $white;
                margin-bottom: 30px;
            }

            .contact-info {
                background: url('assets/images/world-map.png') no-repeat;
                background-size: contain;
            }

            address strong {
                color: $white;
                font-size: 16px;
            }
        }

        &-right {
            h3 {
                font-size: 26px;
                color: $white;
                font-weight: 700;
            }

            form {
                .form-control {
                    background: transparent;
                    border-radius: 0;
                    border-color: $white;
                    font-size: 16px;
                    color: $white;
                    margin-bottom: 20px;
                    padding: 10px 15px;
                    font-weight: 300;
                }
            }
        }
    }

    .footer-bottom {
        background: rgba(0, 0, 0, 0.1);
        padding: 30px 0;
        margin-top: 60px;

        @mixin mediumScreen {
            text-align: center;
        }
        
        @mixin smallScreen {
            text-align: center;
        }
    }

    .footer-copyrights {
        p {
            color: $white;
        }
    }

    .footer-menu {
        color: $white;
        font-weight: 300;
        font-size: 14px;

        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;

            li {
                display: inline-block;

                a {
                    color: $white;
                    padding-right: 5px;
                    font-size: 14px;
                    text-decoration: none;
                    font-weight: 300;

                    &:hover {
                        color: $turquoise;
                    }
                }
            }
        }
    }
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    padding: 5px 15px;
    display: none;
}
