.navbar {
    padding: 10px 0;
    transition: all 0.5s ease-in-out;
    border: none;

    .wg-nav-wrapper {
        padding: 0 10px;

        .navbar-header {
            @mixin mediumScreen {
                float: none;
            }
        }

        .navbar-toggle {
            background-color: rgba(0, 0, 0, 0.5);
            border: solid 1px $white;
            border-radius: 0;

            @mixin mediumScreen {
                display: block;
            }

            .icon-bar {
                background-color: $white;
            }
        }

        .navbar-collapse {
            max-height: none !important;
            border: none;

            @mixin mediumScreen {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            }

            &.collapse {
                display: none !important;

                @mixin largeScreen {
                    display: block !important;
                }

                @mixin extraLargeScreen {
                    display: block !important;
                }

                &.in {
                    display: block !important;
                }
            }
        }
    }

    .navbar-brand {
        color: $white;
        font-size: 26px;

        &:hover {
            color: $white;
        }
    }

    #wg-menu {
        float: right;

        @mixin mediumScreen {
            float: left;
        }

        @mixin smallScreen {
            float: left;
        }

        .navbar-nav {
            @mixin mediumScreen {
                float: none !important;
                margin: 7.5px -15px;
            }

            li {
                @mixin mediumScreen {
                    float: none;
                }

                a {
                    @mixin mediumScreen {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }

        .navbar-nav > li > a {
            color: $white;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;

            &:focus,
            &:hover {
                background: none;
                color: $turquoise;
            }
        }

        ul.navbar-nav > li.active > a {
            color: $turquoise;
        }
    }

}

.wg-top-nav {
    background-color: rgba(0, 0, 0, 0.7);
}
