#home {
    height: 100%;

    .home-cover {
        background-image: url("assets/images/bg-home.jpg");
        height: 100%;

        .home-content-box {
            width: 100%;
            height: 100%;
            display: table;

            &-inner {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }

        h2 {
            color: $white;
            font-size: 55px;
            font-weight: bold;
            margin: 20px 0;
            text-transform: uppercase;

            @mixin mediumScreen {
                font-size: 40px;
            }

            @mixin smallScreen {
                font-size: 40px;
            }
        }
    }
}
