.pricing-box {
    padding: 50px 0;
    border: solid 3px $turquoise;
    text-align: center;
    margin: 30px 0;

    h4.pricing-title {
        background-color: $turquoise;
        display: inline-block;
        color: $white;
        padding: 7px 15px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 30px;
    }

    h3.pricing-value {
        font-size: 60px;
        font-weight: 700;

        sup {
            font-size: 28px;
            vertical-align: super;
            font-weight: 300;
        }
    }

    ul.pricing-spec {
        list-style: none;
        padding-left: 0;
        margin: 20px 0 60px;

        li {
            p {
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }

    &-lg {
        padding: 80px 0;
        margin: 0;
        background: $turquoise;

        h4.pricing-title {
            background-color: $white;
            color: $turquoise;
        }

        .pricing-spec {
            li {
                p {
                    color: $white;
                }
            }
        }
    }
}
