.service-item {
    margin: 0 0 20px;
    padding: 20px 0;
    cursor: pointer;

    &-icon {
        i {
            float: left;
            color: $turquoise;
            padding: 15px;
            margin-right: 25px;
            width: 75px;
            height: 75px;
            text-align: center;
        }
    }

    &:hover {
        .service-item-icon i {
            color: $white;
            background: $turquoise;
        }
    }

    &-title h3 {
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 10px;
    }

    &-desc p {
        margin: 0;
        padding-left: 100px;
    }
}
