.social-list {
    padding-left: 0;

    li {
        list-style: none;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 6px;
        margin-top: 10px;

        i {
            font-size: 16px;
        }

        .icon-white {
            color: $white;

            &:hover {
                color: $turquoise;
            }
        }

        .icon-gray {
            color: $grey;

            &:hover {
                color: $turquoise;
            }
        }
    }
}
