#stats {
    .stats-cover {
        background-image: url("assets/images/bg-stats.jpg");

        .stats-item {
            padding: 100px 0;
            text-align: center;

            @mixin mediumScreen {
                padding: 50px 0;
            }
            
            @mixin smallScreen {
                padding: 50px 0;
            }

            i {
                color: $turquoise;
            }

            h2 {
                color: $white;
                font-size: 35px;
                font-weight: 700;
                margin-top: 15px;
                margin-bottom: 1px;
            }

            p {
                color: $white;
                text-transform: uppercase;
                font-weight: 300;
                margin-top: 0;
            }
        }
    }

    .content-box {
        background-color: rgba(0, 0, 0, 0.7);
    }
}
