.team-member {
    margin: 0 15px;

    &-info {
        padding: 10px 0 30px 0;
        text-align: center;
    }

    h4.team-member-name {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 1px;
        padding-top: 2px;
    }

    h4.team-member-designation {
        color: $turquoise;
        font-size: 16px;
        font-style: italic;
        letter-spacing: 1px;
        padding-top: 5px;
        font-weight: 700;
    }

    .social-list {
        padding-left: 0;

        li {
            list-style: none;
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-right: 6px;
            margin-top: 10px;
        }

        .social-icon i {
            font-size: 16px;
        }

        .icon-white {
            color: $white;

            &:hover {
                color: $turquoise;
            }
        }

        .icon-gray {
            color: $grey;

            &:hover {
                color: $turquoise;
            }
        }
    }

}
