.testimonial {
    &-cover {
        background-image: url("assets/images/bg-testimonials.jpg");

        .customers-testimonials {
            padding: 50px 0;
        }
    }

    img {
        max-width: 120px;
        margin: 0 auto;
    }

    blockquote {
        border: 0;
        font-family: Georgia, Times, serif;
        font-style: italic;
        padding: 10px 150px;
        color: $white;
        margin: 0 auto;
        position: relative;

        @mixin mediumScreen {
            padding: 10px 50px;
        }

        @mixin smallScreen {
            padding: 10px 50px;
        }

        p {
            margin: 10px auto;
        }

        &:before {
            font-size: 80px;
            font-style: normal;
            line-height: 1;
            width: 30px;
            height: 30px;
            position: absolute;
            content: "\201C";
            top: 0;
            left: 100px;

            @mixin mediumScreen {
                left: 10px;
            }

            @mixin smallScreen {
                left: 10px;
            }
        }

        &:after {
            font-size: 80px;
            font-style: normal;
            line-height: 1;
            width: 30px;
            height: 30px;
            position: absolute;
            content: "\201D";
            bottom: 0;
            right: 100px;

            @mixin mediumScreen {
                right: 20px;
            }

            @mixin smallScreen {
                right: 20px;
            }
        }
    }

    p {
        color: $white;
    }

    &-author {
        p strong {
            display: block;
        }
    }
}
