.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;

    img {
        transition: transform .5s ease;

        &:hover {
            transform: scale(1.5);
            cursor: zoom-in;
        }
    }
}